$fontsDir: '/fonts';

@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('#{$fontsDir}/AkzidenzGrotesk/akzidenzgroteskpro_regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('#{$fontsDir}/AkzidenzGrotesk/akzidenzgroteskpro_light.ttf');
    font-weight: 100 300;
}

@font-face {
    font-family: 'Akzidenz Grotesk';
    src: url('#{$fontsDir}/AkzidenzGrotesk/akzidenzgroteskpro_md.ttf');
    font-weight: 500 900;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('#{$fontsDir}/Ubuntu/Ubuntu-Light.ttf');
    font-weight: 100 300;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('#{$fontsDir}/Ubuntu/Ubuntu-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('#{$fontsDir}/Ubuntu/Ubuntu-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('#{$fontsDir}/Ubuntu/Ubuntu-Bold.ttf');
    font-weight: 600 900;
}

@font-face {
    font-family: 'icomoon';
    src: url('#{$fontsDir}/icons/icomoon.eot?k2o92r');
    src: url('#{$fontsDir}/icons/icomoon.eot?k2o92r#iefix') format('embedded-opentype'),
        url('#{$fontsDir}/icons/icomoon.ttf?k2o92r') format('truetype'),
        url('#{$fontsDir}/icons/icomoon.woff?k2o92r') format('woff'),
        url('#{$fontsDir}/icons/icomoon.svg?k2o92r#icomoon') format('svg');
}
